.content-margin{
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

h4{
    color: black;
}
.flex{
    display: flex;

}

.card-title{
    text-align: center;
}
.picture{
    justify-content: center;
    width: 400px;
}
.photo{
    width: 100%;
    border-radius: 50%;
}

.shop-details{
    margin-left: 200px;
    margin-top: 40px;
    width: 700px;
}

.personal-details{
    margin-top: 50px;
}

ul{
    list-style-type: none;
}
h6{
    color: gray;
}
