.content-margin{
    margin: 20px;
    margin-top: 70px;
}

h4{
    color: black;
}
.table-upper-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.search-btn{
    width: 150px;
}

.default-btn{
    width: 185px;
}

.inner-photo{
    height: 40px;
    width: 40px; 
}

.photo{
    width: 50%;
    margin-left: 200px;
    margin-right: 200px;
}