.content-margin{
    margin: 20px;
    margin-left: 20px;
    margin-top: 70px;
}

h4{
    color: black;
    text-transform: capitalize;
}

.form-upper-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
}

.roles{
    background-color: green;
    margin: 2px;
    display: inline-block;
}

.search-btn{
    width: 150px;
}

.default-btn{
    width: 185px;
}

.inner-photo{
    height: 40px;
    width: 40px; 
}

.photo{
    width: 50%;
    margin-left: 200px;
    margin-right: 200px;
}

img{
    width: 150px;
    border-radius: 50%;
}

.form-select{
    width: 180px;
}

.product-input{
    width: 300px;
}

.actions {
    display: flex;
}
.btn-group{
    margin-right: 10px;
}
