.content-margin{
    margin-top: 25px;
    margin-left: 300px;
    margin-right: 300px;
}

.table-title{
    text-align: center;
    color: rgb(238, 234, 226);
}

.add-supplier{
    margin-top: -10px;  
    
}
.submit-btn{
    margin-top: 30px; 
    width: 100%;
}

.show-aria{
    margin-top: 30px;
}

.divider-line{
    margin-top: 30px;
    height: 20px;
    background: grey;
}

.form-upper-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.search-btn{
    width: 150px;
}

.default-btn{
    width: 185px;
}

.row{
    margin-bottom: 20px;
}

.heading{
    justify-content: center;
}

@media only screen AND ( min-width:0px) {
    .content-margin{
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media only screen AND (min-width:640px) {
    .content-margin{
        margin-top: 25px;
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media only screen AND ( min-width:960px) {
    .content-margin{
        margin-top: 25px;
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media only screen AND ( min-width:1025px) {
    .content-margin{
        margin-top: 25px;
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media only screen AND (min-width:1220px){
    .content-margin{
        margin-left: 200px;
        margin-right: 200px;
    }
}