.sidebar{
    left: 0;
    top: 55px;
    position: fixed;
    padding-top: 10px;
    width: 50px;
    background-color: #1d2327;
    min-height: 100vh;
    font-family: 'Poppins', 'sans-serif';
    background: #11101d;
    overflow-x: hidden;
    transition: all 0.5s ease;
}

.sidebar.active{
    width: 250px;
}

.sidebar ul li{
    margin-left: -20px;
    position: relative;
    list-style: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.sidebar ul li div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar ul li div ion-icon{
    color: white;
}

.sidebar ul li div a{
    position: relative;
    display: flex;
    text-decoration: none;
    color: #c3c4c7;
    font-size: 15px;
}

.sidebar ul li div .title{
    color: #c3c4c7;
}

.sidebar ul li ul{
    margin-top: -5px;
    margin-left: 10px;
    display: none;
    
}

.sidebar ul li ul.showSubMenu{
    display: block;
}


.sidebar ul li ul li{
    list-style: none;
    padding-left:5px;
    margin-left: 5px;
}

.sidebar ul li ul li:hover{
    background: gray;
}

.sidebar ul li ul li a{
    text-decoration: none;
    color: #c3c4c7; 
}

.sidebar ul li div:hover{
    background: gray;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

   
}

.sidebar ul li.active{
    background-color: white;
}

.sidebar ul li.active a{
    color: black;
}
.sidebar ul li a .icon{
    position: relative;
    min-width: 30px;
    height: 50px;
    line-height: 62px;
    text-align: center;
}

.sidebar ul li a .icon ion-icon{
    font-size: 1.5em;
}

.sidebar ul li a .title{
    position: relative;
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
}
 

.toggle{
    margin-bottom: 15px;
    position: relative;
    width: 35px;
    height: 35px;
    background: rgb(45, 45, 186);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: left;
    padding-left: 3px;
    align-items: center;
    
}

.toggle.active{
    background: rgb(233, 82, 82);
}

.toggle ion-icon{
    position: absolute;
    color: white;
    font-size: 30px; 
    display: none;
}

.toggle ion-icon.open,
.toggle.active ion-icon.close{ 
    display: block;
} 

.toggle ion-icon.close,
.toggle.active ion-icon.open{
    display: none;
}

