.main-container{
    height: 1750px;
    background-color: gray;
}
h2{
    text-align: center;
    justify-content: center;
}

.product-category{
    background-color:white ;

}

/* 
.product-category-flex{
    display: flex;
    flex-wrap: wrap;
    padding:10px 0 10px 0;

}

@media (max-width: 767px) {
    .product-category-flex {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        padding:10px 0 10px 0;
    }

}
 */

/* .product-category{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);

}
 */
.product-category-flex {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding:10px 0 10px 0;
}

.product-category-flex::-webkit-scrollbar{
    display: none;
}